.health-bar{
    width: 10vw;
    height: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .health-bar-label{
    font-size: 0.8em;
    padding: 2px;
  }
  
  .red-health{
    width: 10vw;
    background-color: red;
    height: 1vh;
  }
  
  .green-health{
    background-color: green;
    height: 1vh;
  }
  